.page-header {
  justify-content: center;
  display: flex;

  h1 {
    color: black;
    font-size: 25px;

    @include desktop {
      color: black;
      font-size: 50px;
    }
  }
}

.page-content {
  display: flex;
}
