.page-header {
  justify-content: center;
  display: flex;
  padding: 4rem;

  h1 {
    color: black;
    font-size: 33px;

    @include desktop {
      color: black;
      font-size: 50px;
    }
  }
}

.page-content {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
