.accessibility-info-loop {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border: solid 2px black;
  @include desktop {
    max-width: 1100px;
    margin: auto;
    border: none;
  }
}

.title-vs-img {
  @include desktop {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 2;
  }
}

.accessibility-video-loop {
  max-width: 1100px;
  margin: auto;
}

.accessibility-about-title {
  width: 100%;
}

.accessibility-about-title h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px $btn__pink;
  @include desktop {
    border-bottom: unset;
    border-right: solid 8px $btn__pink;
    height: 49px;
    width: 256px;
    height: 49px;
    width: 236.4px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
  }
}
.accessibility-info-item {
  display: none;
  @include desktop {
    display: block;
    width: 50%;
  }
}

.accessibility-about {
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.icon-vs-title {
  @include desktop {
    display: flex;
    // flex-direction: column;
    // flex-grow: 2;
    align-items: center;
    margin-left: -5rem;
  }
}
.accessibility-about-img {
  @include desktop {
    height: 507px;
    width: 830px;
    max-width: 100%;
  }
}
.accessibility-about-info h5 {
  display: flex;
  text-align: center;
  font-weight: normal;
  @include desktop {
    height: 192px;
    width: 830px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}
.accessibility-icon-svg {
  @include desktop {
    height: 87px;
    width: 68px;
  }
}

.accessibility-title {
  font-weight: bold;
  line-height: 37px;
  font-family: 'Montserrat';
  @include desktop {
    font-size: 30px;
    width: 67%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}

.accessibility-info-details {
  font-family: 'Montserrat';
  @include desktop {
    font-size: 24px;
    width: 353px;
    margin-bottom: 2rem;
  }
}

//ACCORDION BUTTONS MOBILE VERSION

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion {
  background-repeat: no-repeat;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  @include desktop {
    display: none;
  }
}

.fa-angle-down {
  font-size: 24px;
}
