.accessibility-info-loop {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  @include desktop {
    max-width: 1100px;
    margin: auto;
  }
}

.title-vs-img {
  @include desktop {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-around;
  }
}

.accessibility-about-title h3 {
  text-transform: uppercase;
  @include desktop {
    border-right: solid 8px $btn__pink;
    height: 49px;
    width: 256px;
    height: 49px;
    width: 236.4px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
  }
}
.accessibility-info-item {
  @include desktop {
    width: 50%;
  }
}

.icon-vs-title {
  @include desktop {
    display: flex;
    align-items: center;
    margin-left: -5rem;
  }
}
.accessibility-about-img {
  @include desktop {
    height: 507px;
    width: 830px;
  }
}
.accessibility-about-info h5 {
  @include desktop {
    height: 192px;
    width: 830px;
    color: #000000;
    font-family: '.SF NS Display';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: auto;
  }
}
.accessibility-icon-svg {
  @include desktop {
    height: 87px;
    width: 68px;
  }
}

.accessibility-title {
  font-weight: bold;
  line-height: 37px;
  font-family: 'Montserrat';
  @include desktop {
    font-size: 30px;
    width: 67%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}

.accessibility-info-details {
  font-family: 'Montserrat';
  @include desktop {
    font-size: 24px;
    width: 353px;
    margin-bottom: 2rem;
  }
}
