.festival-gallery {
  .main-carousel {
    margin: 3rem 6rem;
    .flickity-prev-next-button {
      display: block;
    }
    .flickity-button {
      background: none;
      color: $color__pink;
    }
    .previous {
      transform: translateX(-4.5rem);
    }
    .next {
      transform: translateX(4.5rem);
    }
  }
}
.mobile-gallery {
    .main-carousel {
        .flickity-button {
            color: $color__white;
            border: 1px solid $color__lightblue;
            background: $color__lightblue;
        }
        .previous {
            transform: translateX(-1.75rem) translateY(-2rem);
        } 
        .next {
            transform: translateX(1.75rem) translateY(-2rem);
        }
    }
}
.after-festival-message {
  text-transform: uppercase;
  color: $color__pink;
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 1.25rem;
  @include desktop {
    color: $color__black;
    font-size: 3vw;
    margin: 0 6rem;
    white-space: nowrap;
    word-spacing: 1.5rem;
  }
}
.after-festival-media {
  text-align: center;
}
.after-festival-meta {
  display: flex;
  flex-direction: column;
  background-color: $bg__champagne;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  padding: 2rem 5rem;
  font-size: 1.5rem;
  p {
    color: $color__pink;
    width: 2rem;
  }
  h4 {
    text-transform: uppercase;
    color: $color__black;
    margin-left: 3rem;
  }
  span {
    display: flex;
  }
  @include desktop {
    flex-direction: row;
    font-size: 3vw;
    justify-content: space-between;
    padding: 4rem 7.5rem;
    p {
      font-size: 50px;
      width: auto;
    }
    h4 {
      font-size: 50px;
      margin: 0;
    }
    span {
      display: block;
    }
  }
}
.after-festival-info {
  margin: 3rem 1.25rem;
  img {
    display: none;
  }
  @include desktop {
    display: flex;
    margin: 0 7.5rem;
    margin-top: 3rem;
    justify-content: space-between;
    p {
      line-height: 2;
      width: 40vw;
    }
    img {
      width: 40vw;
      display: block;
      height: auto;
      margin-bottom: 4rem;
    }
  }
}
.after-festival-report {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;  
}
.access-report-btn {
  text-transform: uppercase;
  border: 3px solid $color__pink;
  text-align: center;
  margin: auto;
  display: block;
  padding: 0.5rem;
  border-radius: 12px;
  background: $color__white;
  font-weight: 600;
  color: $color__pink;
  &:hover {
    border: 3px solid $color__orange;
    color: $color__orange;
  }
}


.mobile-gallery {
    @include desktop {
        display: none;
    }
}
.desktop-gallery {
display: none; 
@include desktop {
    display: block;
}
}
.gallery-image-size {
  flex-basis: 24.5%;
  height: 50%;
  overflow: hidden;
  img {
    margin: 1.5rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.mobile-gallery {
    .main-carousel {
        margin: 3rem 1.25rem;
    }
    .gallery-image-size {
        flex-basis: 50%;
        height: 90%;
        img {
            margin: 0;
        }
    }
}
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
}
.flickity-prev-next-button {
  display: block !important;
}
.after-festival-comment {
  font-weight: 600;
  color: $color__charcoal;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 25px;
}
