.page-apply-here {
  @include desktop {
  }
}
.apply-here {
  @include desktop {
    max-width: 1100px;
    margin: auto;
  }
}

.apply-here .gform_title {
  border-left: solid 8px $btn__pink;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 18px;
  @include desktop {
    font-size: 2.5rem;
    padding-left: 1.5rem;
  }
}

.volunteer-form .gform_body {
  display: unset;
}

.volunteer-form {
  li {
    list-style-type: none;
    line-height: 2.8rem;
  }
}

.volunteer-form .gform_fields {
  margin-left: 4rem;
  padding: unset;
}

.volunteer-form .gfield_label {
  display: inline-block;
}

.first-name-volunteer,
.name_last {
  input {
    width: 25rem;
  }
}

.phone-volunteer,
.email-form-volunteer {
  input {
    width: 30.0625rem;
  }
}

.age-form-volunteer ul,
.gender-form-volunteer ul,
.checkbox-volunteer-form ul {
  padding: 0;
  line-height: 1.3125rem;
}

.tell-us-form-volunteer {
  height: 301px;
  width: 542px;
}

.volunteer-form .gform_button {
  height: 58px;
  width: 263px;
  border-radius: 12px;
  background-color: #ed1651;
  color: white;
  font-size: 24px;
  border: $btn__pink;
}
