.single-artist {
    h1 {
        color: $color__black;
        border-left: 8px solid $color__pink;
        padding-left: 1.5rem;
        text-transform: uppercase;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.artist-info {
    padding-left: 8rem;
}

.artist-container {
    background-color: $bg__champagne;
    @include desktop {
        display: flex;
        flex-direction: row-reverse;
    }
}

.artist-img {
    @include desktop {
        padding: 3rem;
        img {
            max-width: none;
        }
    }
}

.artist-social {
    padding-top: 1rem;
    .artist-icon {
        margin-right: 1rem;
        text-decoration: none;
    }
}
