.single-artist {
    h1 {
        color: $color__black;
        border-left: 8px solid $color__pink;
        padding-left: 1.5rem;
        text-transform: uppercase;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
    .artist-container {
        height: auto;
        @include desktop {
        height: auto;
        }
    }

    .artist-info {
        padding: 0;
        margin-left: 6rem;
    }
    .artist-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        img {
            height: auto;
            max-width: 80%;
            margin: 3rem auto;
            display: block;
            padding-top: 1rem;
        }
        @include desktop {
            padding: 3rem;
            height: 22rem;
            margin-left: 7rem;
        }
    }
}

.artist-info {
    padding: 0 2rem;
    @include desktop {
    padding-left: 8rem;
    }
}

.artist-img {
    img {
        height: auto;
        max-width: 80%;
        margin: 2rem auto 2rem;
        display: block;
        padding-top: 1rem;
    }
    @include desktop {
        padding: 3rem;
        height: 22rem;
    }
}

.artist-social {
    @include desktop {
    display: flex;
    margin-left: 4rem;
    justify-items: center;
    justify-items: baseline;
    width: 100%;
    margin-top: -3rem;
    a {
        display: flex;

    }
    .artist-icon {
        margin-right: 1rem;
    }
}
}
.single-artist {
.artist_img-event {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}}