.patron-title {
  color: $color__black;
  h1 {
    text-align: center;
    color: $color__pink;
  }
}

.patron-packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4rem;
}

.patron-title-price {
  padding-right: 20px;
}
