.page-become-a-sponsor {
    h1 {
        color: $color__pink;
        text-align: center;
        font-weight: 700;
        @include desktop {
        color: $color__black;
        border-left: 8px solid $color__pink;
        padding-left: 1.5rem;
        text-transform: uppercase;
        text-align: left;
        }
    }
    a {
        color: $color__white;
        text-decoration: none;
    }
}

.contact_button {
    border: 2px solid $color__pink;
    background: $color__pink;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    margin: auto;
    display: block;
    width: fit-content;
    padding: 1rem;
    &:hover {
        border-color: $color__orange;
        background-color: $color__orange;
   }
}
.become_sponsor {
    margin: 1rem;
}

 .become_header {
    color: $color__black;
    font-weight: 700;
    padding-bottom: 2rem;
 }

 .become_content {
     padding-bottom: 2rem;
 }

.testimony {
    list-style: none;
}


.testimony-author,
.author-title {
    text-align: center;
}


@include desktop {
  
    .sponsors-author {
        display: flex;
        justify-content: flex-end;
        padding-right: -1rem;
        margin-left: 50rem;
        flex-flow: row wrap;
    }

    .become-a-sponsor {
        max-width: 1110px;
    }
}