.patron-title {
  color: $color__black;
  h1 {
    text-align: center;
    color: $color__pink;
  }
}

.patron-packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4rem;
}

.patron-title-price {
  padding-right: 20px;
}

//THIS IS THE ACCORDION MENU
/* Style the buttons that are used to open and close the accordion panel */
.accordion-patron {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 8rem;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: $btn__pink;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  span {
    border-top: solid 2px white;
  }
  @include desktop {
    display: none;
  }
}

/* Hover State */

.active,
.accordion-patron:hover {
  background-color: $btnbg__orange;
}

/* Accordion Panel Style */
.panel-patron {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
