.page-donate .gform_heading {
  display: none;
}

.page-donate .content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  main {
    width: 80%;
  }

  li {
    list-style-type: none;
  }
}

.donate-title {
  text-align: center;
  padding-top: 2rem;
  h3 {
    color: $color__pink;
    text-transform: none;
    font-weight: unset;
  }
}

@include desktop {
  .donate-title {
    display: flex;
    flex-direction: row;

    h3 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      border-bottom: unset;
      border-right: 8px solid $color__pink;
      color: $color__black;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 700;
      line-height: 49px;
      padding: 1rem;
    }

    .donate-text {
      display: flex;
      text-align: start;
      margin-left: 2rem;
    }
  }

  .donate-text {
    padding-left: 3rem;
  }
}

.page-donate .gform-donate-title {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}
.page-donate .donation-box {
  justify-content: center;
  height: 12rem;
  border: 4px solid $color__black;
  border-radius: 20px;
  display: flex;
}

@include desktop {
  .page-donate .donation-box {
    justify-content: center;
    height: 12rem;
    border: 4px solid $color__black;
    border-radius: 21px;
    display: flex;
    width: 50rem;
    margin: 3rem 0rem 1rem 7rem;
  }
}

.donation-box .ginput_container {
  width: 15rem;
}
@include desktop {
  .donation-box .ginput_container {
    width: 23rem;
  }
}

.donation-box .donation-box-content {
  display: flex;
  flex-direction: column;
  a {
    font-size: 24px;
  }
}

// .page-donate .donation-first-last-name input {
//   box-sizing: border-box;
//   height: 40px;
//   // width: 400px;
// }

// .page-donate .donation-phone input {
//   height: 40px;
//   // width: 941px;
// }

@include desktop {
  .page-donate .donation-first-last-name .ginput_container {
    display: flex;
    justify-content: space-between;

    span {
      width: 28rem;
    }
  }
}
@include desktop {
  .page-donate .donation-address .ginput_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .address_city {
      width: 28rem;
    }
    .address_zip {
      width: 28rem;
    }
  }
}

.page-donate .donate_radio {
  input[type='radio'] {
    display: none;

    & ~ label {
      // all radio labels
      justify-content: center;
      border: 6px solid $color__pink;
      border-radius: 8px;
      padding: 4px;
      min-width: 113px;
      display: flex;

      // &:hover {
      //   border-color: $btnbg__orange;
      // }
    }

    &:checked ~ label {
      // checked styles
      border-color: $btnbg__orange;
    }
  }
}
.page-donate .gfield_radio {
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  li {
    margin: 5px;
  }

  .gchoice_4_8_3 {
    display: none;
  }
}
@include desktop {
  .page-donate .gfield_radio {
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: unset;
    align-items: center;

    li {
      margin: 5px;
    }

    .gchoice_4_8_3 {
      display: none;
    }
  }
}

// @include desktop {
//   .page-donate .gfield_radio {
//     display: flex;
//     padding: 1rem;
//     justify-content: center;
//   }
// }

.page-donate .gchoice_4_8_3 {
  margin-left: 1rem;
}

.page-donate .field_4_12 {
  padding-top: 23px;
  padding-left: 10px;
}
.page-donate .donate-image {
  background-image: url(../../assets/01_Icons/SVG/Donate1.svg);
  background-repeat: no-repeat;
  height: 6rem;
  width: 4rem;
}

//THIS IS THE DONATE FORM
.donate-form_wrapper .gform_footer {
  display: flex;
  justify-content: center;
  position: unset;
  margin-right: unset;
  margin: 4rem;
}

.donate-form_wrapper .gform_footer .gform_button {
  height: 58px;
  width: 263px;
  border-radius: 12px;
  background-color: $color__pink;
  color: white;
  font-size: 1.5rem;
  @include desktop {
    font-size: 24px;
    &:hover {
      border: solid 4px $btnbg__orange;
      background-color: $btnbg__orange;
    }
  }
}

.donation-tax-form-1 .gfield_label {
  display: unset;
  font-size: 21px;
  font-weight: 400;

  span {
    display: none;
  }
}

.donation-phone .gfield_label {
  display: unset;

  span {
    display: none;
  }
}

.donate-form_wrapper .gform_body {
  display: unset;
}
.donation-message .gfield_label {
  display: unset;
  font-size: 21px;
  font-weight: 400;
}
.submit-btn {
  display: none;
}
