.page-festival {
    .entry-content {
        padding-left: 1rem;
    }
    .events-title {
        color: $color__black;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        margin-left: 6rem;
    }
}
.wrapper__category {
}
.categories-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6rem;
    text-align: center;
    a {
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            border-bottom: $color__black 2px solid;
            font-weight: 600;
        }
    }
}
.wrapper__isf {
    display: flex;
    margin: 3rem 6rem;
    h3 {
        white-space: nowrap;
        height: 2rem;
        margin-right: 2rem;
        padding-right: 2rem;
    }
}