/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/../../isf-theme/fonts/Montserrat-Bold.eot');
  src: url('../../isf-theme/fonts/Montserrat-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Bold.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Bold.svg#Montserrat-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-BoldItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-BoldItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-BoldItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-Italic.eot');
  src: url('../../isf-theme/fonts/OpenSans-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-Italic.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-Italic.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-Italic.svg#OpenSans-Italic')
      format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-ThinItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-ThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-ThinItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-ThinItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic')
      format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-BoldItalic.eot');
  src: url('../../isf-theme/fonts/OpenSans-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-BoldItalic.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-SemiBold.eot');
  src: url('../../isf-theme/fonts/OpenSans-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-SemiBold.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-SemiBold.eot');
  src: url('../../isf-theme/fonts/Montserrat-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-SemiBoldItalic.eot');
  src: url('../../isf-theme/fonts/OpenSans-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-ExtraBoldItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-ExtraBoldItalic.woff2')
      format('woff2'),
    url('../../isf-theme/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-ExtraBoldItalic.ttf')
      format('truetype'),
    url('../../isf-theme/fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic')
      format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-Black.eot');
  src: url('../../isf-theme/fonts/Montserrat-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Black.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Black.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Black.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Black.svg#Montserrat-Black')
      format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-Regular.eot');
  src: url('../../isf-theme/fonts/Montserrat-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Regular.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Regular.svg#Montserrat-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-MediumItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-MediumItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-BlackItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-BlackItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-BlackItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic')
      format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-ExtraBold.eot');
  src: url('../../isf-theme/fonts/OpenSans-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-ExtraBold.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-ExtraBold.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold')
      format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-Medium.eot');
  src: url('../../isf-theme/fonts/Montserrat-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Medium.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Medium.svg#Montserrat-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-Light.eot');
  src: url('../../isf-theme/fonts/OpenSans-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-Light.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-Light.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-Light.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-LightItalic.eot');
  src: url('../../isf-theme/fonts/OpenSans-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-LightItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-LightItalic.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-LightItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-Thin.eot');
  src: url('../../isf-theme/fonts/Montserrat-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Thin.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Thin.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Thin.svg#Montserrat-Thin')
      format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-LightItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-LightItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-LightItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-ExtraBoldItalic.eot');
  src: url('../../isf-theme/fonts/OpenSans-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic')
      format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-ExtraLight.eot');
  src: url('../../isf-theme/fonts/Montserrat-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-ExtraLight.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight')
      format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-Light.eot');
  src: url('../../isf-theme/fonts/Montserrat-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Light.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Light.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Light.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Light.svg#Montserrat-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-Bold.eot');
  src: url('../../isf-theme/fonts/OpenSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-Bold.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../isf-theme/fonts/OpenSans-Regular.eot');
  src: url('../../isf-theme/fonts/OpenSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../isf-theme/fonts/OpenSans-Regular.woff') format('woff'),
    url('../../isf-theme/fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../../isf-theme/fonts/OpenSans-Regular.svg#OpenSans-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-ExtraLightItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-ExtraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-ExtraLightItalic.woff2')
      format('woff2'),
    url('../../isf-theme/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-ExtraLightItalic.ttf')
      format('truetype'),
    url('../../isf-theme/fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic')
      format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-Italic.eot');
  src: url('../../isf-theme/fonts/Montserrat-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-Italic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-Italic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-Italic.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-Italic.svg#Montserrat-Italic')
      format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-SemiBoldItalic.eot');
  src: url('../../isf-theme/fonts/Montserrat-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-SemiBoldItalic.ttf')
      format('truetype'),
    url('../../isf-theme/fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../isf-theme/fonts/Montserrat-ExtraBold.eot');
  src: url('../../isf-theme/fonts/Montserrat-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../isf-theme/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../../isf-theme/fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../../isf-theme/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
    url('../../isf-theme/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold')
      format('svg');
  font-weight: 800;
  font-style: normal;
}
