.site-footer {
    width: 100%;
    background: $color__black;
}
.link__footer {
    display: flex;
    flex-direction: column;
    a {
        font-family: $font__monsterrat;
        color: $color__white;
    }
}

