.site-footer {
  width: 100%;
  background: $color__black;
  padding: 1.25rem;
  position: relative;
  @include desktop {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
.link__footer {
  display: flex;
  flex-direction: column;
  a {
    font-family: $font__montserrat;
    color: $color__white;
  }
}
.copyright {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  width: 100%;
}
.content__footer {
  @include desktop {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
  }
}
.icon__scroll-up-bg {
  position: absolute;
  right: 5%;
  top: 0;
  transform: translateY(-2rem);
  button {
    outline: none;
  }
  @include desktop {
    transform: translateY(-7rem);
  }
  button {
    background-color: $bg__pink;
    border-radius: 50px;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    &:hover {
      background-color: $bg__orange;
    }
    .icon__scroll-up {
      color: $color__white;
      font-size: 2.5rem;
    }
  }
}
.wrapper__footer-signup {
  flex-basis: 30%;
  .widget-title {
    display: block;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    @include desktop {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    }
  }
}
.wrapper__get-in-touch {
  flex-basis: 30%;
  margin-bottom: 1rem;
  h4 {
    font-weight: 700;
  }
}
.wrapper__additional-information {
  flex-basis: 40%;
  margin-bottom: 1rem;
  h4 {
    font-weight: 700;
  }
}
.footer__social-media {
  margin-bottom: 1rem;
  img:first-child {
    margin-left: 0;
  }
}
