/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  // border-color: #ccc #ccc #bbb;
  // border-radius: 3px;
  // background: #e6e6e6;
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
  // inset 0 15px 17px rgba(255, 255, 255, 0.5),
  // inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  @include font-size(0.75);
  line-height: 1;
  padding: 0.6rem 1rem 0.4rem;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  &:hover {
    border-color: #ccc #bbb #aaa;
  }

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
      inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: $color__black;
  border: 1px solid $color__black;
  // border-radius: 3px;

  &:focus {
    color: #111;
  }

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

// THIS IS THE FORM MESSAGE US
input[type='text'] {
  color: $color__black;
  border: solid 1px black;
  width: 100%;
  height: 40px;
}

textarea {
  padding-left: 3px;
  width: 100%;
  color: #000000;
  border: solid 1px black;
  height: 352px;
}

// END OF THE FORM MESSAGE US

.search-submit {
  border: none;
  background: none;
  box-shadow: none;
  display: none;
}
.icon-search {
  font-size: 1.5rem;
  line-height: 0;
}
.search-field {
  border: none;
  display: none;
}
.search__mobile {
	display: none;
	.search-field {
		border: none;
		border-bottom: 1px solid $color__grey;
		display: block;
		outline: none;
		width: 75vw;
		transform: translateY(-0.4rem);
		@include desktop {
			display: none;
		}
	}
	.icon-search {
		display: none;
	}
}
.search__desktop {
	display: none;
	.search-field {
		display: block;
		border: none;
		border-bottom: 1px solid $color__grey;
		transform: translateY(-0.3rem);
		padding-bottom: 0;
	}
	.icon-search {
		display: none;
	}
}
.btn__search-desktop {
	width: 1.3rem !important;
	height: 1.3rem !important;
	margin-right: 1.5rem;
}
.searchbar {
  @include desktop {
    display: none;
  }
}

.form__signup {
	width: 100%;
	max-width: 480px;
	position: relative;
	@include desktop {
		width: 300px;
	}
	input[type=email] {
		border: none;
	}
	input[type=text]{
		border: none;
		outline: none;
		height: 50px;
		&::placeholder {
			padding-left: 1rem;
		}
	}
	input[type=submit] {
		box-shadow: none;
		border: none;
		height: 50px;
	}
   .gform_heading {
	   h3 {
	   color: $color__white;
   }
   }
  .gform_body {
	  width: 75%;
	  height: 60px;
  }
  .gform_footer {
	  width: 25%;
  }
  .gform_button {
    background: $btn__pink;
	height: 40px;
	font-size: 0;
	width: 100%;
	background-image: url('../../assets/white-icon/Mail.png');
	background-size: 55px;
	background-repeat: no-repeat;
	background-position: center;
  }
}
