.title__upcoming-event {
    width: 100%;
    color: $color__black;
    margin: 0 6rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}
.title__event {
    font-weight: 600;
}
.wrapper__upcoming-events {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 6rem;
    margin-bottom: 3rem;
}
.wrapper__single-event {
    width: 370px;
    display: flex;
    flex-direction: column;
}
.wrapper__image-event {
    width: 370px;
    height: 265px;
    position: relative;
    img {
        height: 265px;
        width: auto;
        object-fit: cover;
    }
}
.thumbnail__date {
    background-color: $color__white;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    border-radius: 15px;
    text-align: center;
    .thumbnail__date-day {
        font-weight: 700;
        font-size: 2rem;
        transform: translateY(-0.5rem);
    }
    .thumbnail__date-month {
        padding-top: 0.6rem;
    }
    p {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }
}
.wrapper__testimony {
    background-color: $bg__champagne;
    padding: 3rem 6rem;
}
.wrapper__testimony-text {
    display: flex;
    flex-direction: column;
}
.container__testimony {
    display: flex;
}

.wrapper__featured {
    display: flex;
    height: 25rem;
    width: 100%;
    // &:nth-child(odd) {
    //     .wrapper__featured-text {
    //         background-color: $color__pink;
    //     }
    // }
    &:nth-child(even) {
        .wrapper__featured-text {
            background-color: $color__orange;
        }
    }
}
.wrapper__featured-content {
    display: flex;
    flex-basis: 50%;
    text-align: center;
    flex-direction: column;
    text-align: center;
    position: relative; 

}
.wrapper__featured-text {
    width: 100%;
    position: absolute;
    bottom: 0;

}
.wrapper__fp-sponsor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 6rem;
    margin-bottom: 3rem;
}
.wrapper__single-sponsor-img {
    width: 300px;
    flex-basis: 30%;
    
}
.title__sponsor {
    width: 100%;
    margin: 0 6rem;
    margin-top: 3rem;
}
