.single-isf_event {
    h1,
    h2, 
    p {
        font-family: 'Montserrat';
    }
    .entry-title {
        text-transform: uppercase;
        text-align: center;
        color: $color__pink;
        font-size: 20px;
        font-weight: 700;
    }

    .entry-header {
       display: flex;
    }
    .entry-content {
        margin-top: 0;
    }
}
.single_year-events {
    @include desktop {
        display: flex;
        }
}
.year_round-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2rem;
    @include desktop {
        margin-left: 10rem;
        margin-right: 0;
        width: 16rem;
        text-align: left;
    }
}

.single_event-info {
    display: flex;
    margin-left: 13rem;
    margin-bottom: 3rem;
    height: 27rem;
}
.single_event-header {
    width: auto;
    color: $color__black;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    font-size: 40px;
    margin-left: 7rem;
    border-left: 8px $color__pink solid; 

}

.single_event-title {
    display: none;
    @include desktop {
        display: block;
        text-transform: uppercase;
        color: $color__black;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-right: 8rem;
    }
}

.single_event-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5rem;
    width: 40rem;
    height: 100%;
    margin-top: 1rem;
}

.single_event-tags {
    text-align: center;
    font-weight: 600;
    @include desktop {
        text-align: left;
        font-size: 24px;
        color: $color__pink;

    }
}

.event-details {
    @include desktop {
    font-size: 20px;
    font-weight: 600;
    }
}


.single_event-content {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

}

.single_event-image {
    object-fit: cover;
    height: 25rem;
    width: 35%;
    @include desktop {
        margin-top: 3rem;
        box-shadow: 0 2px 2px 0 #cecece, -30px -30px 0 0 $color__pink;    }
}


// button
.event_calendar-btn {
    padding-left: 4rem;

.calendar-btn {
        @include desktop {
        border: 2px solid $color__grey;
        border-radius: 14px;
        padding: 0.5rem;
        margin-right: 1rem;
        color: $btn__grey;
            a {
                text-decoration: none;
                text-align: center;
                margin: auto;
                display: block;
            }
        }
    }
}
.event_btn-single {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.single_events-btn {
        height: 2.5rem;
        width: 9rem;
        border-radius: 12px;
        border: $btn__pink 3px solid;
        border-radius: 12px;
        background: $bg__pink;
         a {
           font-size: 15px;
           font-weight: 600;
           text-transform: uppercase;
           color: $color__white; 
         }
         &:hover {
          border: $btnbg__orange 3px solid;
          background: $btnbg__orange;
          
         }
        @include desktop {
        height: 58px;	
        width: 259.45px;	
        border-radius: 12px;
        margin-right: 3rem;
          a {
            font-size: 24px;
            font-weight: 600;
          }
        }
      } 

.share-btn {
        height: 2.5rem;
        width: 9rem;
        border-radius: 12px;
        border: $btn__pink 4px solid;
        border-radius: 12px;
        background: $bg__white;
         a {
           font-size: 15px;
           font-weight: 600;
           text-transform: uppercase;
           color: $color__pink; 
         }
         &:hover {
          border: $btnbg__orange 3px solid;
          background: $bg__white;
          a {
          color: $color__orange; 
          }
        }
        @include desktop {
        height: 58px;	
        width: 259.45px;	
        border-radius: 12px;
          a {
            font-size: 24px;
            font-weight: 600;
          }
        }
      }
      
.single_event-btn {
    width: 20rem;
    margin-right: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 3.5rem;
    border-radius: 12px;
    border: 3px solid $color__pink;
    background: $color__pink;
    a {
        text-align: center;
        color: $color__white;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &:hover {
        border: 3px solid $color__orange;
        background: $color__orange;
    }
}

//Artist
.artist-container {
    height: 100%;
    background-color: $bg__champagne;
    @include desktop {
        display: flex;
        flex-direction: row-reverse;
    }
}
.artist_event-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    @include desktop {
        font-size: 30px;
        margin-left: 8rem;
        margin-top: 2rem;
    }
}

.testimonial-container {
    margin-bottom: 1rem;
    p {
        font-size: 18px;
    }
}

.testimonial_author {
    display: flex;
    justify-content: flex-end;
}

// //ISF+
.isf-plus-container1 {
    @include desktop {
        color: $color__white;
    }
}