.single-isf_event {
    .entry-title {
        text-transform: uppercase;
        text-align: center;
        color: $color__pink;
        font-size: 20px;
        font-weight: 700;
    }

    .entry-header {
       display: flex;
    }
}

.single_event-info {
    display: flex;
}
.single_event-header {
    width: auto;
    color: $color__black;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    font-size: 40px;
    margin-left: 7rem;
    border-left: 8px $color__pink solid; 

}

.single_event-title {
    display: none;
    @include desktop {
        display: block;
        text-transform: uppercase;
        color: $color__black;
        display: flex;
        align-items: center;
        font-weight: 700;
    }
}

.single_event-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.single_event-tags {
    text-align: center;
    font-weight: 700;
    @include desktop {
        text-align: left;
    }
}

.single_event-content {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.artist_event-name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.single_event-image {
    object-fit: cover;
    height: 25rem;
    width: 25%;
}

