.btn__round-orange {
border: $btn__orange 3px solid;
border-radius: 50px;
padding: 0.25rem 3rem;
&:hover {
    background: $btn__orange;
    color: white;
}
}
.btn__round-pink {
@extend .btn__round-orange;
border: $btn__pink 3px solid;
background: none;
}
.btn__square-pink {

}
.border__round-left-pink {
    
}
.border__right-pink {

}
.border__left-bot-pink {

}