.page-membership .entry-content {
  h2 {
    color: $color__pink;
    text-align: center;
    font-size: 2em;
  }
}
p.member-text {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8%;
}

// Memebership Pakages

.curator {
  background-color: $color__pink;
  text-align: right;
  color: white;
  @include desktop {
    color: $color__black;
  }
}

.member-title {
  padding-right: 3rem;
  padding-top: 4rem;
  padding-bottom: 22px;

  h3 {
    color: white;
    @include desktop {
      color: $color__black;
    }
  }
}
.package-title {
  position: relative;
  &::before {
    content: '';
    width: 50%;
    height: 4px;
    background: $color__white;
    position: absolute;
    top: -10px;
    right: 0;
  }
}
.package-text {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

@include desktop {
  .page-membership .entry-content {
    margin: 0 12rem;
    padding-top: 2%;
    h2 {
      border-left: 8px solid $color__pink;
      padding-left: 1.5rem;
      text-align: left;
      font-size: 29px;
      color: $color__black;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  p.member-text {
    margin-bottom: 50px;
  }
  // Memebership Pakages

  .curator {
    height: 339px;
    width: 464px;
    box-shadow: 0 2px 2px 0px $color__grey, -12px 12px 0 0 $color__pink;
    display: flex;
    margin: 0 auto 50px auto;
    background-color: transparent;
    text-align: left;
  }

  .member-title {
    padding-left: 20px;
    padding-top: 50px;
  }

  .package-text {
    padding-left: 20px;
    padding-top: 50px;
  }
}
