.page-membership .entry-content {
  margin: 0 12rem;
  h2 {
    color: $color__black;
    border-left: 8px solid $color__pink;
    padding-left: 1.5rem;
  }
}

.member-text {
}

// Memebership Pakages

.curator {
  height: 363px;
  width: 532px;
  box-shadow: 0 2px 2px 0px $color__grey, -12px 12px 0 0 $color__pink;
  margin-bottom: 50px;
}
