.page-membership .entry-content {
  margin: 0 12rem;
  h2 {
    color: $color__black;
    border-left: 8px solid $color__pink;
    padding-left: 1.5rem;
  }
}

p.member-text {
  margin-bottom: 50px;
}

// Memebership Pakages

.curator {
  height: 339px;
  width: 464px;
  box-shadow: 0 2px 2px 0px $color__grey, -12px 12px 0 0 $color__pink;
  margin-bottom: 50px;
  display: flex;
}

.member-title {
  padding-left: 20px;
  padding-top: 50px;
}

.package-text {
  padding-left: 20px;
  padding-top: 50px;
}
