.contact-us-title {
  h3 {
    border-left: solid 8px #ed1651;
  }
}
.icon-message-us-wrapper {
  width: 100%;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  //   text-align: center;
}

.mobile,
.general-inquiries,
.media-inquiries,
.adress-message-us {
  height: auto;
  //   width: 206px;
  color: #000000;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: bold;
  line-height: 37px;
}

.mobile-svg,
.email-svg,
.location-tag {
  max-width: 100px; //check you can remove it will make big
}

iframe {
  max-width: 100%;
  width: 100%;
}

.icon-message-us-wrapper {
  //   line-height: 1.5rem;
  > div {
    // display: flex;
    // flex-direction: column;
    a,
    img {
      display: block;
    }
  }
}

.send-us-message-form_wrapper .gform_footer {
  display: flex;
  justify-content: center;
}

.send-us-message-form_wrapper .gform_footer .gform_button {
  height: 58px;
  width: 263px;
  border-radius: 12px;
  background-color: #ed1651;
  color: white;
  font-size: 24px;
}

.send-us-message-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  .gform_title {
    font-family: 'Montserrat';
    font-weight: bold;
  }
}

.send-us-message-form_wrapper {
  li {
    list-style-type: none;
  }

  ul {
    margin: 0;
    padding: 0px;
  }
}

@include desktop {
  .site-main {
    max-width: 1100px;
    margin: auto;
  }

  .contact-us-title {
    h3 {
      font-size: 40px;
      padding-left: 2rem;
      text-transform: uppercase;
    }
  }

  .icon-message-us-wrapper {
    width: 50%;
    line-height: 4rem;
    text-align: unset;
    //padding-top: 10rem;

    > div {
      padding-top: 5rem;
    }

    .contact-us-title {
      padding-top: 0;
    }

    .phone-message-us {
      padding-top: 2.5rem;
    }
  }

  .phone-message-us,
  .gen-inquires,
  .med-inquires,
  .adr-messge-us {
    display: flex;
    width: 100%;
    display: inherit;
  }

  .phone-message-us {
    align-items: center;
  }
  .mobile,
  .general-inquiries,
  .media-inquiries,
  .adress-message-us {
    // height: 37px;
    // width: 206px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
    padding-left: 1rem;
  }

  .send-us-message-form {
    width: 50%;
  }

  .send-us-message-form_wrapper .gform_footer .gform_button {
    height: 58px;
    width: 263px;
    border-radius: 12px;
    background-color: #ed1651;
    color: white;
    font-size: 24px;
  }

  iframe {
    width: 100%;
    max-width: 500px;
  }
}
