.page-contact-us {
  margin-left: 1rem;
  margin-right: 1rem;
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
}
.message-us-page {
  .entry-title {
    display: none;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.contact-us-title {
  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;

    @include desktop {
      border-left: solid 8px $btn__pink;
      border-bottom: unset;
      font-size: 2.5rem;
      padding-left: 1.5rem;
      text-transform: uppercase;
      justify-content: unset;
    }
  }
}

.icon-message-us-wrapper {
  width: 100%;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
}
.contact-info-details {
  height: auto;
  color: #000000;
  font-family: 'Montserrat';
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.3125rem;
  text-align: center;
  margin-bottom: 1rem;
  p {
    color: black !important;
  }
}

.mobile-svg {
  max-width: 100px;
  margin: auto;
}
.map-wrapper,
iframe {
  max-width: 100%;
  width: 100%;
}
iframe {
  border: solid 2px black;
}

.icon-message-us-wrapper {
  > div {
    a,
    img {
      display: block;
    }
  }
}
//THIS IS THE FORM MESSAGE US
.send-us-message-form_wrapper .gform_footer {
  display: flex;
  justify-content: center;
  position: unset;
  margin-right: unset;
}

.send-us-message-form_wrapper .gform_footer .gform_button {
  height: 58px;
  width: 263px;
  border-radius: 12px;
  background-color: $bg__pink;
  color: white;
  font-size: 1.5rem;
  @include desktop {
    font-size: 24px;
    &:hover {
      border: solid 4px $btnbg__orange;
      background-color: $btnbg__orange;
    }
  }
}
.send-us-message-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  // margin-left: 1rem;
  // margin-right: 1rem;
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
  .gform_title {
    font-family: 'Montserrat';
    font-weight: bold;
  }
}

.send-us-message-form_wrapper {
  li {
    list-style-type: none;

    ul {
      margin: 0;
      padding: 0px;
    }
  }
  //END OF FORM MESSAGE US
}

.contact-info-loop {
  .contact-info-details {
    a {
      // color: red;
    }
  }
}

@include desktop {
  .message-us-page {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .post-19 h3 {
    padding-top: 3rem;
    border-left: none;
  }

  .icon-message-us-wrapper {
    width: 50%;
    line-height: 4rem;
    text-align: unset;

    > div {
      padding-top: 3rem;
    }

    .contact-us-title {
      padding-top: 0;
    }
    .contact-info-details {
      padding-top: 2.5rem;
    }
  }
  .contact-info-item {
    display: flex;
    width: 100%;
  }

  .mobile-svg {
    margin: unset;
  }
  .phone-message-us {
    align-items: center;
  }
  .contact-info-details {
    color: #000000;
    font-family: 'Montserrat';
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 2.3125rem;
    padding-left: 1rem;
    text-align: unset;
  }
  //THIS IS THE MESSAGE US FORM

  .send-us-message-form {
    line-height: 4.5rem;

    .gform_title {
      font-size: 1.875rem;
    }
  }

  //END OF MESSAG US FORM

  .map-wrapper,
  iframe {
    width: 100%;
    max-width: 500px;
  }
}
