.our-sponsors {
    margin:0 1.25rem;
    @include desktop {
        margin-left: 8rem;
        margin-right: 8rem;
    }
    h1 {
        color: $color__pink;
        text-align: center;
        font-weight: 700;
        @include desktop {
            color: $color__black;
            border-left: 8px solid $color__pink;
            padding-left: 1.5rem;
            text-transform: uppercase;
            text-align: left;
        }
    }
    h2 {
        color: $btn__grey;
        text-align: center;
        font-weight: 500;
    }

    img {
        @include desktop {
            max-width: none;
        }
    }
    a{
        color: $color__pink;
        @include desktop {
            color: $color__white;
        }
    }
}

.sponsors {        
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    img {
        width: 226px;
        height: auto;
        margin: 40px;
    }
}




.sponsors_box {
    margin-right: none;
    width: 10rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    @include desktop {
        margin-right: 5rem;
        margin-left: 5rem;
        padding-top: 2rem;
    }
}
.sponsor-img {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.become-sponsor {
    text-decoration: none;
    border: 3px solid $color__pink;
    text-align: center;
    border-radius: 12px;
    padding: 0.5rem;
    color: $color__pink;
    margin: auto;
    display: block;  
    font-weight: 600;
    @include desktop {
        color: $color__white;
        border: 3px solid $btn__pink;
        background-color: $bg__pink;
        text-align: center;
        height: 58px;
        width: 263px;
        line-height: 38px;
        font-size: 20px;  
    }
    &:hover {
        border: 3px solid $color__orange;
        color: $color__orange;
        @include desktop {
            background-color: $color__orange;
            border: 3px solid $color__orange;
            color: $color__white;
        }
    }

}

