
.page-our-sponsors {
    h1 {
        color: $color__black;
        border-left: 8px solid $color__pink;
        padding-left: 1.5rem;
        text-transform: uppercase;
    }
}

.become-sponsor {
    border: 3px solid $color__pink;
    margin: 85px;
    text-align: center;
    border-radius: 12px;
    padding: 0.5rem;
    color: $color__pink;

    &:hover {
        border: 3px solid $color__orange;
        color: $color__orange;
    }
}

// .sponsor-img {
//     display: flex;
//     flex-flow: row wrap;
// }



    .page-our-sponsors {
        @include desktop {
        h2 {
            color: $color__black;
            font-size: 13px;
            text-align: center;
        } 
        
        .our-sponsors {
            max-width: 1110px;
        }
        .sponsors {        
            display: flex;
            justify-content: space-around;
            flex-flow: row wrap;
            padding: 50px;
            img {
                width: 226px;
                height: auto;
                margin: 40px;
            }
            .sponsor-img {
                min-height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
       
        .become-sponsor {
            color: $color__white;
            border: 3px solid $btn__pink;
            background-color: $bg__pink;
            max-width: 17%;
            text-align: center;
            margin-left: 42%;
            height: 58px;
            width: 263px;
            border-radius: 12px;
            line-height: 38px;
            font-size: 18px;

            &:hover {
                background-color: $color__orange;
                border: 3px solid $color__orange;


            }
        }
    }
}

