/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
// Banner
.banner {
    position: relative;
    height: 30rem;
    width: 100%;    
}
.banner__image-wrapper {
    position: relative;
    z-index: -10;
    height: 200px;
    overflow: hidden;
    @include desktop {
        height: 520px;
    }
    img {
        width: 100%;
    }
}
.banner__content {
    position: absolute;
    text-align: right;
    right: 1.5rem;
    top: 0.5rem;
    @include desktop {
        line-height: 5rem;
        right: 8rem;
        top: 9rem;
    }
    .banner__title {
        font-size: 2rem;
        font-weight: 600;
        max-width: 20rem;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        @include desktop {
        font-size: 3rem;
        max-width: 35rem;
        margin: 0;
        }
    }
    .banner__description {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        @include desktop {
            margin-bottom: 0;
        }
    }
}

.banner__btn {
    border: $btn__pink 3px solid;
    border-radius: 12px;
    background: $bg__pink;
    a {
        color: $color__white; 
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }
    @include desktop {
    background-color: $btn__pink;
        &:hover {
        background-color: $btn__orange;
        border: $btn__orange 3px solid;
        }
    }
}
.flickity-page-dots {
    margin-bottom: 2.5rem !important;
    .dot {
        background: rgb(255, 255, 255) !important;
        opacity: 0.5 !important;
    }
    .is-selected {
        background: $color__white !important;
        opacity: 1 !important;
    }
}
.fp-main-carousel {
.flickity-prev-next-button {
    display: none !important;
}
}
.carousel-cell {
    height: 200px;
    @include desktop {
        height: 520px;
    }
}
.archive-title {
    text-transform: uppercase;
    border-bottom: 4px solid $color__pink;
}
.artist-archive-bg {
    background-color: $color__lightblue-transparent !important;
}
.archive-event-margin {
    height: 3rem !important;
}

/* Front page */
