.search-results {
  .content-area {
    font-family: 'Montserrat';
  }

  .entry-title a {
    display: flex;
    justify-content: center;
    @include desktop {
      font-size: 24px;
    }
  }
}
.search-results {
  .entry-summary p {
    text-align: center;
    @include desktop {
      font-size: 24px;
    }
  }
}

//THOSE ARE QUOTES FOR THE SEARCH RESULTS

.search-results {
  .entry-summary p,
  .entry-title a {
    quotes: '“' '”' '‘' '’';
  }
  .entry-summary p,
  .entry-title a:before {
    content: open-quote;
  }
  .entry-summary p,
  .entry-title a:after {
    content: close-quote;
  }
}

//THIS IS THE NO RESULTS PARTH

.search-no-results {
  .page-title,
  .page-header {
    display: none;
  }
}
.search-no-results {
  .page-content p {
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    line-height: 3.5rem;
    text-align: center;
    color: $color__black;
    font-size: 22px;
    @include desktop {
      color: $color__black;
      font-size: 37px;
    }
  }
}
