.hide-mobile {
  display: none;
  @include desktop {
    display: block;
  }
}

.hide-desktop {
  display: block;
  @include desktop {
    display: none;
  }
}
<<<<<<< HEAD
// TODO: scope to footer
.gfield_label {
  display: none;
}
=======

//footer
// .gfield_label {
//     display: none;
//   }
>>>>>>> c215966eef5579d5fea301887efbacf26df1bf75
.gform_fields {
  margin: 0;
  padding: 0;
}
.gform_body {
  display: inline-block;
}
.gform_footer {
  display: inline-block;
  position: absolute;
  margin-right: 3rem;
}
.widget-title {
  display: none;
}
