.hide-mobile {
  display: none;
  @include desktop {
    display: block;
  }
}

.hide-desktop {
  display: block;
  @include desktop {
    display: none;
  }
}
<<<<<<< HEAD

//footer
// .gfield_label {
//     display: none;
//   }
=======
// TODO: scope to footer
.gfield_label {
  display: none;
}
>>>>>>> 175561dcaff4578f9c42d39a4a7b005e1aa1d549
.gform_fields {
  margin: 0;
  padding: 0;
}
.gform_body {
  display: inline-block;
}
.gform_footer {
  display: inline-block;
  position: absolute;
  margin-right: 3rem;
}
.widget-title {
  display: none;
}
