// Structure

$base__space-unit: 1.5rem;

// Colors

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__lightblue: #69C8CB;
$color__darkblue: #042F42;
$color__orange: #F58220;
$color__white: #FFFFFF;
$color__black: #191414;

//Button
$btn__pink: #ED1651;
$btn__orange: #F58220;
$btn__white: #FFFFFF;
$btnbg__pink: #ED1651;
$btnbg__orange: #F58220;
$btnbg__white: #FFFFFF;

//Background
$bg__white: #FFFFFF;
$bg__champagne: #FFF2F2;
$bg__pink: #ED1651;
$bg__orange: #F58220;


// Typography

$font__monsterrat: "Monsterrat", sans-serif;
$font__opensans: "Open Sans", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$p__black: #191414;

// Screen Breakpoint

$breakpoint__desktop: 480px;
