// Structure

$base__space-unit: 1.5rem;

// Colors

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__lightblue: #69c8cb;
$color__darkblue: #042f42;
$color__orange: #f58220;
$color__white: #ffffff;
$color__grey: #cecece;
$color__black: #191414;
$color__grey: #cecece;
$color__pink: #ed1651;

//Button
$btn__pink: #ed1651;
$btn__orange: #f58220;
$btn__white: #ffffff;
$btnbg__pink: #ed1651;
$btnbg__orange: #f58220;
$btnbg__white: #ffffff;

//Background
$bg__white: #ffffff;
$bg__champagne: #fff2f2;
$bg__pink: #ed1651;
$bg__orange: #f58220;

// Typography

$font__monsterrat: 'Montserrat', sans-serif;
$font__opensans: 'Open Sans';
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$p__black: #191414;

// Screen Breakpoint

$breakpoint__desktop: 480px;
