.volunteer-about-main {
  width: 90%;
  margin: auto;
  @include desktop {
    display: flex;
    max-width: 1100px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.volunteer-info h5 {
  @include desktop {
    margin-left: 5rem;
  }
}
.volunteer-title,
.responsibilities-title,
.qualificatons-title,
.benefits-title {
  @include desktop {
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: unset;
    border-right: solid 8px $btn__pink;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
  }
}
.volunteer-title {
  margin: 1rem;
  a,
  h3 {
    color: $btn__pink;
  }
  @include desktop {
    height: 95px;
    h3 {
      color: $color__black;
    }
    a {
      color: $btn__pink;
    }
  }
}

.responsibilities-title,
.qualificatons-title,
.benefits-title {
  display: none;
  @include desktop {
    display: block;
    height: 33px;
    border-left: 8px solid $color__pink;
    border-right: unset;
    width: 41%;
    h3 {
      margin-left: 1rem;
    }
  }
}
.responsibilities-img {
  display: none;
  @include desktop {
    width: 536px;
    height: 540px;
    object-fit: cover;
    box-shadow: 0 2px 2px 0 #cecece, -30px -30px 0 0 $color__pink;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 50px;
    background-color: transparent;
    text-align: left;
  }
}
.responsibilities-about {
  @include desktop {
    display: flex;
    background-color: $bg__champagne;
    padding: 3rem;
  }
}
.volunteer-info h5,
.responsibilities-info h5,
.benefits-info h5,
.qualificatons-info,
.qualificatons-list {
  @include desktop {
    height: 192px;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 25px;
  }
}

.volunteer-info strong {
  font-weight: unset;
  @include desktop {
    font-weight: bold;
  }
}

.qualificatons-info {
  @include desktop {
    height: 100px;
  }
}

.qualificatons-list {
  @include desktop {
    line-height: 30px;
  }
}
.responsibilities-info h5,
.benefits-info h5,
.qualificatons-info,
.qualificatons-list {
  display: none;
  @include desktop {
    display: block;
    width: 470px;
  }
}

.responsibilities-title-vs-info {
  @include desktop {
    padding: 4rem;
  }
}
.combine-qualifications-benefits {
  @include desktop {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }
}

//THIS IS THE ACCORDION MENU

/* Style the buttons that are used to open and close the accordion panel */
.accordion-volunteer {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 8rem;
  font-size: 24px;

  font-family: 'Montserrat';
  font-weight: bold;
  background-color: $btn__pink;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  span {
    position: relative;
    &::before {
      content: '';
      width: 80%;
      height: 2px;
      background: white;
      position: absolute;
      top: -10px;
      right: 0;
    }
  }
  @include desktop {
    display: none;
  }
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion-volunteer:hover {
  background-color: $btnbg__orange;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.volunteer-apply-btn {
  @include desktop {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    p {
      text-transform: uppercase;
      color: white;
      display: flex;
      justify-content: center;
      margin-top: 0.6rem;
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 600;
    }
  }
}
a:link {
  text-decoration: none;
}

.apply-btn {
  display: none;
  @include desktop {
    display: block;
    height: 58px;
    width: 263px;
    border-radius: 12px;
    background-color: $color__pink;
    cursor: pointer;
  }
}
