.page-year-round {
    h2 {
        color: $color__black;  
    }
    p {
        font-size: 18px;
    }
}

.events-title {
    width: auto;
    color: #191414;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    margin-left: 1.25rem;
    font-size: 1.2rem;
    @include desktop {
        font-size: 40px;
        margin-left: 7rem;
        border-left: 8px $color__pink solid; 
    }
}

.year-events {
    @include desktop {
    display: flex;
    margin-top: 3rem;
    }
}
.year_round-head {
    text-align: center;
    color: $color__pink;
    margin-left: 7rem;
    margin-right: 7rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    @include desktop {
        color: $color__black;
        margin-right: 0;
        font-size: 40px;
        width: 16rem;

    }
}

.year-content {
    margin: 0 1.25rem;
    @include desktop {
       border-left: 8px $color__pink solid; 
       padding-left: 3rem;
       display: flex;
       align-items: center;
       font-size: 18px;
   }
}

// .categories-info {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     text-align: center;
//         @include desktop {
//         margin: 0 6rem;
//         a {
//             text-decoration: none;
//             text-align: center;
//             text-transform: uppercase;
//             &:hover {
//                 border-bottom: $color__black 2px solid;
//                 font-weight: 600;
//             }
//         }
//     }
// }

// .wrapper__year-categories {
//     border: 2px solid red;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     border-radius: 12px;
//     width: 8rem;
// }

    
