.page-year-round {
    .year_round-head {
        text-align: center;
        color: $color__pink;
        margin-left: 7rem;
        margin-right: 7rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        @include desktop {
            color: ;
        }
    }
    h2 {
        color: $color__black;  
    }
    .year-content {
         margin: 0 1.25rem;
     }
}

.events-title {
    width: auto;
    color: #191414;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    margin-left: 1.25rem;
    font-size: 1.2rem
}

  