.page-year-round {
    p {
        font-size: 18px;
    }
}

.past-event-box {
    padding-top: 2rem;
}
.events-title {
    width: auto;
    color: $color__black;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    margin-left: 1.25rem;
    font-size: 1.2rem;
    @include desktop {
        font-size: 40px;
        margin-left: 7rem;
    }
}

.event-title {
    width: auto;
    color: $color__black;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
    font-size: 1.2rem;
    @include desktop {
        font-size: 40px;
        margin-left: 7rem;
    }
}


.year-events {
    @include desktop {
    display: flex;
    margin-top: 3rem;
    }
}
.year_round-head {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2rem;
    @include desktop {
        margin-left: 7rem;
        margin-right: 0;
        width: 16rem;
        text-align: left;
    }
}

.year-events-h1 {
    color: $color__pink;
    font-size: 25px;
    @include desktop {
        color: $color__black;
        font-size: 40px;
        font-weight: 600;
    }
}
.year-events-h2 {
    color: $color__pink;
    font-size: 25px;
    @include desktop {
        font-size: 40px;
    }
}

.year-content {
    margin: 0 1.25rem;
    @include desktop {
       border-left: 8px $color__pink solid; 
       padding-left: 3rem;
       display: flex;
       align-items: center;
       font-size: 18px;
   }
}

.past-event-container {
    background: $bg__champagne;
}
    
